form {
    width: 80%;
    display: block;
  }


  .reset-button {
  
    border-radius: 5px solid darkcyan;
  /*  border: 5px solid darkcyan; */
    margin-left: 10px;
  
  }
  
  h2 {
    font-style: inherit;
    border-bottom: 1px solid black;
  }
  
  .reset{
      width: 60%;
  }

  .reset input{
    width: 30%;
    height: 2vh;
  }

  .reset label{
    width: 30%;
  }