.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  height: 30px;
  background-color: white;
  border-bottom: 1px solid black;
}

.right {
  padding: 1px 20px;
  background-color: rgb(242, 199, 144);
  border-radius: 5px;
}

.logout {
  background-color: #00f2ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
